# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
.env
db.sqlite3
*.log
*.zip

# Virtual environment
venv/
env/

# Django
media/
staticfiles/

# React / Node
growup-frontend/node_modules/
growup-frontend/dist/
growup-frontend/.env

# Misc
.fuse_hidden*
posts/