{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}Login | GrowUp{% endblock %}
{% block content %}
<div class="form-container">
  <h2>Welcome Back ✨</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Login</button>
    <div class="google-login">
  <a href="{% provider_login_url 'google' %}" class="google-btn">
    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20">
    Sign in with Google
  </a>
</div>
  </form>
  <p class="redirect-text">
    Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a>
  </p>
</div>
{% endblock %}